fish/.config/fish/completions
fish/.config/fish/conf.d
fish/.config/fish/fish_variables
fish/.config/fish/functions/fish_mode_prompt.fish
fish/.config/fish/functions/fish_prompt.fish
fish/.config/fish/functions/fish_right_prompt.fish
fish/.config/fish/functions/fish_title.fish
fish/.config/fish/functions/fisher.fish
fish/.config/fish/functions/fzf_configure_bindings.fish
fish/.config/fish/functions/grc.wrap.fish
fish/.config/fish/functions/license.fish
fish/.config/fish/functions/bobthefish_display_colors.fish
fish/.config/fish/functions/__bobthefish_colors.fish
fish/.config/fish/functions/__bobthefish_display_colors.fish
fish/.config/fish/functions/__bobthefish_glyphs.fish
fish/.config/fish/functions/__ssh_agent_is_started.fish
fish/.config/fish/functions/__ssh_agent_start.fish
fish/.config/fish/functions/__z.fish
fish/.config/fish/functions/__z_add.fish
fish/.config/fish/functions/__z_clean.fish
fish/.config/fish/functions/__z_complete.fish
fish/.config/fish/functions/_fzf_configure_bindings_help.fish
fish/.config/fish/functions/_fzf_extract_var_info.fish
fish/.config/fish/functions/_fzf_preview_changed_file.fish
fish/.config/fish/functions/_fzf_preview_file.fish
fish/.config/fish/functions/_fzf_report_diff_type.fish
fish/.config/fish/functions/_fzf_report_file_type.fish
fish/.config/fish/functions/_fzf_search_directory.fish
fish/.config/fish/functions/_fzf_search_git_log.fish
fish/.config/fish/functions/_fzf_search_git_status.fish
fish/.config/fish/functions/_fzf_search_history.fish
fish/.config/fish/functions/_fzf_search_processes.fish
fish/.config/fish/functions/_fzf_search_variables.fish
fish/.config/fish/functions/_fzf_wrapper.fish
micro/.config/micro/buffers/history
lagrange/.config/lagrange/idents.lgr
lagrange/.config/lagrange/state.lgr
localbin/.local/bin/gmcapsuled
lagrange/.config/lagrange/idents
lagrange/.config/lagrange/sitespec.ini
lagrange/.config/lagrange/trusted.2.txt
lagrange/.config/lagrange/visited.2.txt
dosbox/.dosbox/capture
xmonad/.config/xmonad/build-x86_64-linux
xmonad/.config/xmonad/xmonad-x86_64-linux
xmonad/.config/xmonad/xmonad.errors
localbin/.local/bin/pylupdate5
localbin/.local/bin/pyrcc5
localbin/.local/bin/pyuic5
xmonad/.config/xmonad/dist-newstyle
xmonad/.config/xmonad/.ghc.environment.x86_64-linux-9.2.5
xmonad/.config/xmonad/xmonad-contrib
xmonad/.config/xmonad/xmonad
localbin/.local/bin/glances
rofi/.config/rofi/bookmarks/.later
localbin/.local/bin/typey
bin/bin/micro
bin/bin/hugo
bin/bin/vale
